<div>
  <header class="Header">
    <app-logo ></app-logo>
    <!-- <Navigation>   --> 
    <div id="navigation" class="Navigation">
      <nav>
        <ul>
          <li>Browse</li>
          <li>My list</li>
          <li>Top picks</li>
          <li>Recent</li>
        </ul>
      </nav>
    </div>
    <!--  </Navigation>   --> 
    <app-navigation></app-navigation>
    <!--  <UserProfile>  -->
    <div class="UserProfile">
      <app-user-profile></app-user-profile>
    </div>
    <!--*  </UserProfile>   -->
  </header>
  <app-hero></app-hero>
  <app-title-list 
    title="Search Results" 
    [movies]="searchResults" ></app-title-list>  
  <app-title-list 
    title="My Movies" 
    [movies]="myMovieList"></app-title-list>  
</div>


<router-outlet></router-outlet>